{% for place in placeList %}
<details class="card mb-3">
    <summary class="card-header">
        {{ place.name }}
    </summary>
    <div class="card-body">
        {{ component('ServicesView', {'placeId': place.id}) }}
        {{ component('AccountForm', {'placeId': place.id}) }}
        {{ component('PaymentForm', {'placeId': place.id}) }}
    </div>
</details>
{% endfor %}
