<details class="card mb-3">
    <summary class="card-header">
        {{ 'Subscriptions'|trans }}
    </summary>
    <div class="card-body">
        {{ component('SubscriptionList') }}
        {{ component('SubscriptionForm') }}
    </div>
</details>