{% extends 'base.html.twig' %}

{% block title %}New Regular{% endblock %}

{% block body %}
    <h1>Create new Regular</h1>

    {{ include('regular/_form.html.twig') }}

    <a href="{{ path('app_regular_index') }}">back to list</a>
{% endblock %}
